@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont');
  src: url('fontawesome-webfont') format('embedded-opentype'), 
  url('fontawesome-webfont.woff') format('woff'),
  url('fontawesome-webfont.ttf') format('truetype'),
  url('fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Noto Sans', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;

}
a{
	color: #819FF7;
}
a:link {
    text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
#container {
	width: 80%;
	min-width: 720px;
	min-height: 560px;
	margin: auto;
	padding: 20px;
}

.error {
	color: #CC0000;
	font-weight: bold;
}
.valide {
	color: #31B404;
	font-weight: bold;
}

#header {
	background-color: #819FF7;
    height: 50px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: white;
}

ul#nav_blog {
	list-style-type : none; 
	margin: auto;
}

ul#nav_blog li { 
	display : inline;
	padding-left: 20px;
}

ul#nav_blog li:last-child { 
	float:right;
	margin-right: 20px;
}

ul#nav_blog li a { 
	color: white;
	text-decoration: none;
}

ul#nav_blog li a:hover { 
	cursor: pointer;
	color: #BBB;
}
#nav_profil{
	float:right;
	margin-right: 20px;
}
#nav_deco{
	float:right;
	margin-right: 20px;
}
#form-login {
	float: right;
}

.article_info > div{
	display: inline-block;
	margin-right: 30px;
	color: #A4A4A4;
}
.article_info{
	font-size: 14px;
}
hr{
	margin-top: 2px;
	margin-bottom: 50px;
}

h1{
	color: #6E6E6E;
}
h2{
	color: #A4A4A4;
}
h3 > a:link{
	color:#819FF7;
	text-transform: uppercase;
}
h4{
    margin-bottom: 3px;
    font-style: italic;
    color: #c3c3c3;
    font-size: 13px;	
}
.link_author{
	font-weight: bold;
	color: #6E6E6E;
}

.link_date{
	color: #A4A4A4;
	font-weight: 600;
}

.title_article{
	text-transform: uppercase;
	color:#819FF7;
}
.form_container{
	text-align: center;
	width: 80%;
}

.warning_form{
	font-style: italic;
    color: #A4A4A4;
    margin-bottom: 30px;
}
.info_single_article{
    color: #6E6E6E;
    font-style: italic;
}

#author_signature{
    margin-bottom: 10px;
    margin-top: 20px;
    color: #6E6E6E;
    font-style: italic;
    display: inline-block;
    width: 75%;
    text-align: right;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea{
	width:100%;
}
#textarea_article{
	height: 400px;
}
input[type=submit], input[type=reset]  {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}
hr.comment_separator{
	margin-top: 5px;
	margin-bottom: 25px;
}
.comment_info_author{
	font-size: 14px;
}
.comment_info_author a{
	color: #819FF7;;
}
.comment_info_created{
    font-size: 12px;
    font-style: italic;
    color: #6E6E6E;
}
.comment_content{
	margin: 15px 0;
	font-size: 14px;
}
.see_more{
	font-size: 13px;
    margin-left: 10px;
}
.fa{
	margin: 0px 5px;
}
#form-login{
	display: inline;
	height: 100%;
}
#form-login > div{
    width:500px;
    height: 10px;
}

#nav_admin {
	background-color: #819FF7;
    height: 50px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: white;
    text-align: center;
}
ul#list_admin {
	list-style-type : none; 
	margin: auto;
}

ul#list_admin li { 
	display : inline-block;
	width:32%;
	border-right: 1px solid white;
}

ul#list_admin li a { 
	color: white;
	text-decoration: none;
}

ul#list_admin li a:hover { 
	cursor: pointer;
	color: #BBB;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#list_articles_admin th:first-child{
	width: 15%;
}
#list_articles_admin th:nth-child(2){
	width: 50%;
}
#list_articles_admin th:nth-child(3){
	width: 10%;
}
#list_articles_admin th:nth-child(4){
	width: 15%;
}
#list_articles_admin th:last-child(){
	width: 10%;
}

#list_users_admin th:first-child{
	width: 15%;
}
#list_users_admin th:nth-child(2){
	width: 40%;
}
#list_users_admin th:nth-child(3){
	width: 20%;
}
#list_users_admin th:nth-child(4){
	width: 15%;
}
#list_users_admin th:last-child(){
	width: 10%;
}

.column_delete{
	font-size:13px;
}

.column_delete > a{
	color:red;
}

#list_articles_admin tr:nth-child(even) {
    background-color: #dddddd;
}
#list_users_admin tr:nth-child(even) {
    background-color: #dddddd;
}
.trash_admin{
	color:red;
}
.change_role_btn{
	width:30px;
}
.fa-role-admin{
	margin: 0px -5px;
}

#input_login,#input_password, #input_search{
	width:100px;
	height: 30px;
    background-color: #ffffff;
    border: none;
    padding: 0px 16px;
    font-size: 14px;
}
#input_search{
	width: 150px;
}
#input_login{
	width:100px;
	height: 30px;
	color: black;
}

.msg_login_error{
	float: right;
}

#delete_article,#modif_article{
	width:10%;
	display: inline-block;
}
#form_register{
	border: 1px solid #A5A6A5;
	padding: 15px 25% ;
}
.label_register{
	display: block;
	font-weight: bold;
}
.input_signup{
	width:50%;
}

#form_articles{
	display: inline;
}

#input_btn_search{
	border: none;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 21px;
    background-color: #819FF7;
}