body {
	font-family: 'Noto Sans', sans-serif;
}

#container {
	width: 80%;
	min-width: 720px;
	min-height: 560px;
	margin: auto;
	padding: 20px;
	background-color: grey;
}

.error {
	color: #CC0000;
	font-weight: bold;
}
ul#nav_blog li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}

ul#nav_blog {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
}